@media only screen and (min-width: 1920px) {
  .header-bgc {
    background-size: cover;
  }
}
@media only screen and (max-width: 1124px) {
  body {
    
  }
  .wrapper {
    background-image: url(../images/adaptive/ad_bg.svg);  
    padding: 0; 
  }
  .container {
    padding: 0;
  }
  .header__top {
    position: relative;
    /* padding: 10px 0 0; */
    width: 100%;
    width: 100%;
    background: linear-gradient(215.46deg, #0D0939 31.67%, #080435 45.37%, #130F3D 81.82%, #0D0939 142.23%);
    overflow: hidden; 
  }
    .header-bgc {
    background-image: none;
  }
  .main {
    background-color: white;
  }
  .header {
    /* background-color: white; */
    /* background-position: bottom 500px right 0px; */

  }
  .header__main-top-box-images {
  transform: translate(432px, -454px);
  }
  .header__main-top-box-text-txt {
    width: 0;
  }
  .header__main-top-box-img {
    /* display: none; */
    width: 641px;

  }
  .footer-container-box1 {
    margin-right: 10px;
  }
  .footer-container-box2 {
    margin-right: 10px;
  }
  .footer-container-box3 {
    margin-right: 10px;
  }
}